body{
	margin: 0px;
}
.frame {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: 100%;
	/*background-color: red;*/
}

.frame img{
	height: 100vh;
	margin-left: auto;
    margin-right: auto;
}
